<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Recommendation System'</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
</head>
<body>
    <h1 style="color:aqua;font-family:monospace;font-size: 80px;">Medicine Recommendation System</h1>

    
    <!-- Form for recommending alternative medicines   -->
    <form action="/suggest" method="post">
        <label for="medicine_name"style="color:white;">Enter Medicine Name:</label>
        <input type="text" name="medicine_name" id="medicine_name" autocomplete="off" required>
        <div id="suggestions" class="suggestions-box"></div>
        <button type="submit">Suggest Alternatives</button>
    </form>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- Form for recommending medicines by condition -->
    <form action="/recommend_by_use" method="post">
        <label for="condition" style="color:white;">Enter Condition or Symptom:</label>
        <input type="text" name="condition" id="condition" required>
        <button type="submit">Recommend by Condition</button>
    </form>

    
    <!-- Form for recommending medicines by OCR -->
    <h2>Upload Image for OCR</h2>
    <form action="/ocr_extract" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" capture="camera">
        <button type="submit">Upload and Extract</button>
    </form>
</body>
</html>
